<!DOCTYPE html>
<html>
    <head>
        <title>To Do App Home</title>
    </head>

    <Body>
    <h1>Welcome to the To Do app!</h1>
    <div><a href="view-all">View To Do items here</a></div>
    <div><a href="add-new">Add a new To Do item here</a></div>
    </Body>
</html>