<!DOCTYPE html>
<html>
    <head>
        <title>To Do App Home</title>
    </head>

    <Body>
    <h1>Welcome to the To Do app!</h1>
    <a href="view-all">View To Do items here</a>
    </Body>
</html>